
.templatemo-bg-image-1, .templatemo-bg-image-2 {
    background-size: cover;
}
.templatemo-bg-image-1, .templatemo-bg-image-2 {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.templatemo-bg-image-1 {
    background-color: rgb(60, 60, 60);
    background-image: url(../images/templatemo-bg-1.jpg);
}
.templatemo-login-form-2 {
    background-color: rgba(13, 13, 13, 0.25);
    border-radius: 8px;
    color: #fff;
    font-weight: 300;
    max-width: 650px;
    padding: 0 30px 30px 30px;
    margin: 30px auto 0 auto;
}
.templatemo-login-form-2 h1 {
    color: #fff;
    margin-bottom: 40px;
}
@media screen and (max-width: 991px)
.templatemo-login-form-2 .templatemo-one-signin {
    border-right: none;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.form-group {
    margin-bottom: 20px;
}
.templatemo-login-form-2 label {
    font-weight: 400;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


body {
    margin-bottom: 30px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: normal;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.templatemo-login-form-2 .control-label {
    margin-bottom: 10px;
}
.templatemo-login-form-2 .templatemo-input-icon-container .fa {
    color: rgb(190, 190, 190);
}


/* 888888888888888888888fa */
.templatemo-input-icon-container .fa {
    color: gray;
    position: absolute;
    left: 10px;
    top: 10px;
}
.fa {
    font-size: 16px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* hhhhhhhh */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

*, body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
 sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

Inherited from body.templatemo-bg-image-1
